In [1]:
import pandas as pd

In [4]:
#import yahoo finance API
!pip install yahoo_fin

Requirement already satisfied: yahoo_fin in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (0.8.9.1)
Requirement already satisfied: pandas in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from yahoo_fin) (1.5.3)
Requirement already satisfied: requests in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from yahoo_fin) (2.28.1)
Requirement already satisfied: requests-html in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from yahoo_fin) (0.10.0)
Requirement already satisfied: feedparser in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from yahoo_fin) (6.0.10)
Requirement already satisfied: sgmllib3k in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from feedparser->yahoo_fin) (1.0.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from pandas->yahoo_fin) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from pandas->yahoo_fin) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from pandas->yahoo_fin) (1.23.5)
Requirement already satisfied: certifi>=2017.4.17 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from requests->yahoo_fin) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from requests->yahoo_fin) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from requests->yahoo_fin) (1.26.14)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from requests->yahoo_fin) (2.0.4)
Requirement already satisfied: fake-useragent in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from requests-html->yahoo_fin) (1.1.3)
Requirement already satisfied: bs4 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from requests-html->yahoo_fin) (0.0.1)
Requirement already satisfied: parse in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from requests-html->yahoo_fin) (1.19.0)
Requirement already satisfied: w3lib in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from requests-html->yahoo_fin) (1.21.0)
Requirement already satisfied: pyppeteer>=0.0.14 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from requests-html->yahoo_fin) (1.0.2)
Requirement already satisfied: pyquery in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from requests-html->yahoo_fin) (2.0.0)
Requirement already satisfied: websockets<11.0,>=10.0 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (10.4)
Requirement already satisfied: appdirs<2.0.0,>=1.4.3 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (1.4.4)
Requirement already satisfied: pyee<9.0.0,>=8.1.0 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (8.2.2)
Requirement already satisfied: importlib-metadata>=1.4 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (4.11.3)
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (4.64.1)
Requirement already satisfied: six>=1.5 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas->yahoo_fin) (1.16.0)
Requirement already satisfied: beautifulsoup4 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from bs4->requests-html->yahoo_fin) (4.11.1)
Requirement already satisfied: lxml>=2.1 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from pyquery->requests-html->yahoo_fin) (4.9.1)
Requirement already satisfied: cssselect>=1.2.0 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from pyquery->requests-html->yahoo_fin) (1.2.0)
Requirement already satisfied: zipp>=0.5 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests-html->yahoo_fin) (3.11.0)
Requirement already satisfied: soupsieve>1.2 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from beautifulsoup4->bs4->requests-html->yahoo_fin) (2.3.2.post1)

In [6]:
#install necessary library
!pip install requests_html

Requirement already satisfied: requests_html in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (0.10.0)
Requirement already satisfied: requests in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from requests_html) (2.28.1)
Requirement already satisfied: fake-useragent in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from requests_html) (1.1.3)
Requirement already satisfied: parse in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from requests_html) (1.19.0)
Requirement already satisfied: pyppeteer>=0.0.14 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from requests_html) (1.0.2)
Requirement already satisfied: pyquery in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from requests_html) (2.0.0)
Requirement already satisfied: w3lib in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from requests_html) (1.21.0)
Requirement already satisfied: bs4 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from requests_html) (0.0.1)
Requirement already satisfied: appdirs<2.0.0,>=1.4.3 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from pyppeteer>=0.0.14->requests_html) (1.4.4)
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from pyppeteer>=0.0.14->requests_html) (4.64.1)
Requirement already satisfied: websockets<11.0,>=10.0 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from pyppeteer>=0.0.14->requests_html) (10.4)
Requirement already satisfied: pyee<9.0.0,>=8.1.0 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from pyppeteer>=0.0.14->requests_html) (8.2.2)
Requirement already satisfied: urllib3<2.0.0,>=1.25.8 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from pyppeteer>=0.0.14->requests_html) (1.26.14)
Requirement already satisfied: importlib-metadata>=1.4 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from pyppeteer>=0.0.14->requests_html) (4.11.3)
Requirement already satisfied: certifi>=2021 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from pyppeteer>=0.0.14->requests_html) (2022.12.7)
Requirement already satisfied: beautifulsoup4 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from bs4->requests_html) (4.11.1)
Requirement already satisfied: cssselect>=1.2.0 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from pyquery->requests_html) (1.2.0)
Requirement already satisfied: lxml>=2.1 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from pyquery->requests_html) (4.9.1)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from requests->requests_html) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from requests->requests_html) (3.4)
Requirement already satisfied: six>=1.4.1 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from w3lib->requests_html) (1.16.0)
Requirement already satisfied: zipp>=0.5 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests_html) (3.11.0)
Requirement already satisfied: soupsieve>1.2 in /Users/xianglinlusam/anaconda3/lib/python3.10/site-packages (from beautifulsoup4->bs4->requests_html) (2.3.2.post1)

In [7]:
#Import models and methods of yahoo finance API
import yahoo_fin.stock_info as si
from yahoo_fin.stock_info import get_data
import yahoo_fin.stock_info as si

In [8]:
#employ company list methods to import list of Dow Jones 30 companies 
dow_list = si.tickers_dow()
print("Tickers in dw:", len(dow_list))
dow_list

Tickers in dw: 30

['AAPL',
 'AMGN',
 'AXP',
 'BA',
 'CAT',
 'CRM',
 'CSCO',
 'CVX',
 'DIS',
 'DOW',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'KO',
 'MCD',
 'MMM',
 'MRK',
 'MSFT',
 'NKE',
 'PG',
 'TRV',
 'UNH',
 'V',
 'VZ',
 'WBA',
 'WMT']

In [9]:
#use imported model to get a dictionary 10 years historical stock price data of Dow Jones 30 companies
dow_historical = {}
for ticker in dow_list:
    dow_historical[ticker] = si.get_data(ticker, start_date="03/30/2013", end_date="03/30/2023", interval="1d")
dow_historical

{'AAPL':                   open        high         low       close    adjclose  \
 2013-04-01   15.782143   15.846429   15.276429   15.318214   13.230055
 2013-04-02   15.271429   15.647857   15.228571   15.349643   13.257195
 2013-04-03   15.406071   15.617143   15.368214   15.428214   13.325053
 2013-04-04   15.491429   15.535714   15.187500   15.275714   13.193346
 2013-04-05   15.160714   15.176786   14.988571   15.114286   13.053923
 ...                ...         ...         ...         ...         ...
 2023-03-23  158.830002  161.550003  157.679993  158.929993  158.929993
 2023-03-24  158.860001  160.339996  157.850006  160.250000  160.250000
 2023-03-27  159.940002  160.770004  157.869995  158.279999  158.279999
 2023-03-28  157.970001  158.490005  155.979996  157.649994  157.649994
 2023-03-29  159.369995  161.050003  159.350006  160.770004  160.770004

                volume ticker
 2013-04-01  389732000   AAPL
 2013-04-02  529519200   AAPL
 2013-04-03  363216000   AAPL
 2013-04-04  358447600   AAPL
 2013-04-05  383695200   AAPL
 ...               ...    ...
 2023-03-23   67622100   AAPL
 2023-03-24   59196500   AAPL
 2023-03-27   52390300   AAPL
 2023-03-28   45992200   AAPL
 2023-03-29   51305700   AAPL

 [2518 rows x 7 columns],
 'AMGN':                   open        high         low       close    adjclose  \
 2013-04-01  102.620003  103.900002  101.699997  102.309998   78.716293
 2013-04-02  102.389999  106.610001  102.389999  106.400002   81.863113
 2013-04-03  106.680000  106.790001  103.930000  104.809998   80.639771
 2013-04-04  105.190002  106.540001  104.739998  105.879997   81.463036
 2013-04-05  104.209999  104.620003  103.470001  104.040001   80.047348
 ...                ...         ...         ...         ...         ...
 2023-03-23  230.039993  234.100006  229.889999  233.100006  233.100006
 2023-03-24  234.220001  238.500000  233.009995  238.029999  238.029999
 2023-03-27  239.610001  239.949997  235.070007  236.759995  236.759995
 2023-03-28  237.000000  238.679993  236.910004  238.479996  238.479996
 2023-03-29  239.710007  241.589996  238.330002  241.029999  241.029999

              volume ticker
 2013-04-01  4099700   AMGN
 2013-04-02  4970500   AMGN
 2013-04-03  5306700   AMGN
 2013-04-04  2850300   AMGN
 2013-04-05  4015900   AMGN
 ...             ...    ...
 2023-03-23  2175700   AMGN
 2023-03-24  2547300   AMGN
 2023-03-27  2129100   AMGN
 2023-03-28  1887800   AMGN
 2023-03-29  2744000   AMGN

 [2518 rows x 7 columns],
 'AXP':                   open        high         low       close    adjclose  \
 2013-04-01   67.419998   67.750000   67.010002   67.260002   58.052841
 2013-04-02   67.379997   67.760002   67.099998   67.639999   58.380817
 2013-04-03   67.660004   67.690002   66.040001   66.250000   57.350674
 2013-04-04   66.419998   66.959999   66.300003   66.730003   57.766193
 2013-04-05   65.769997   65.800003   64.769997   65.300003   56.528271
 ...                ...         ...         ...         ...         ...
 2023-03-23  162.669998  166.240005  160.820007  162.759995  162.159256
 2023-03-24  160.520004  160.710007  157.820007  159.779999  159.190262
 2023-03-27  163.949997  164.470001  161.830002  163.119995  162.517929
 2023-03-28  162.210007  162.589996  158.190002  159.210007  158.622375
 2023-03-29  161.699997  164.190002  161.080002  163.589996  162.986191

              volume ticker
 2013-04-01  3012600    AXP
 2013-04-02  3921600    AXP
 2013-04-03  5102000    AXP
 2013-04-04  3633900    AXP
 2013-04-05  6898300    AXP
 ...             ...    ...
 2023-03-23  3727500    AXP
 2023-03-24  2588700    AXP
 2023-03-27  3984300    AXP
 2023-03-28  4883700    AXP
 2023-03-29  3884800    AXP

 [2518 rows x 7 columns],
 'BA':                   open        high         low       close    adjclose  \
 2013-04-01   85.599998   86.190002   85.029999   85.250000   71.897499
 2013-04-02   85.389999   85.500000   83.800003   84.089996   70.919151
 2013-04-03   84.300003   85.349998   84.070000   84.360001   71.146896
 2013-04-04   84.790001   85.019997   84.209999   84.949997   71.644485
 2013-04-05   84.070000   86.300003   83.910004   86.169998   72.673393
 ...                ...         ...         ...         ...         ...
 2023-03-23  197.899994  201.500000  195.139999  197.899994  197.899994
 2023-03-24  195.500000  197.570007  193.919998  197.529999  197.529999
 2023-03-27  198.630005  201.550003  198.630005  200.570007  200.570007
 2023-03-28  200.820007  206.300003  200.490005  204.960007  204.960007
 2023-03-29  206.500000  208.649994  205.880005  207.970001  207.970001

              volume ticker
 2013-04-01  2867200     BA
 2013-04-02  4764900     BA
 2013-04-03  3885000     BA
 2013-04-04  3352500     BA
 2013-04-05  6109500     BA
 ...             ...    ...
 2023-03-23  6266900     BA
 2023-03-24  4511600     BA
 2023-03-27  3891700     BA
 2023-03-28  5460600     BA
 2023-03-29  3572200     BA

 [2518 rows x 7 columns],
 'CAT':                   open        high         low       close    adjclose  \
 2013-04-01   86.860001   86.940002   85.410004   85.639999   64.250862
 2013-04-02   86.019997   86.019997   84.470001   84.879997   63.680676
 2013-04-03   83.910004   84.620003   83.599998   84.120003   63.110508
 2013-04-04   84.169998   84.730003   83.839996   84.629997   63.493107
 2013-04-05   83.410004   85.360001   83.050003   84.599998   63.470585
 ...                ...         ...         ...         ...         ...
 2023-03-23  220.509995  225.300003  217.600006  219.440002  218.255295
 2023-03-24  216.850006  217.429993  213.139999  217.009995  215.838394
 2023-03-27  214.929993  218.960007  213.919998  218.000000  216.823059
 2023-03-28  218.149994  220.559998  217.710007  220.160004  218.971405
 2023-03-29  222.740005  223.220001  221.500000  223.000000  221.796066

              volume ticker
 2013-04-01  5666900    CAT
 2013-04-02  6514300    CAT
 2013-04-03  9222400    CAT
 2013-04-04  7646200    CAT
 2013-04-05  8985600    CAT
 ...             ...    ...
 2023-03-23  2957400    CAT
 2023-03-24  2976800    CAT
 2023-03-27  3209500    CAT
 2023-03-28  1802000    CAT
 2023-03-29  1857300    CAT

 [2518 rows x 7 columns],
 'CRM':                   open        high         low       close    adjclose  \
 2013-04-01   44.674999   44.912498   43.682499   43.847500   43.847500
 2013-04-02   44.247501   44.322498   43.702499   43.832500   43.832500
 2013-04-03   43.705002   43.962502   41.672501   42.127499   42.127499
 2013-04-04   42.130001   42.165001   41.130001   41.602501   41.602501
 2013-04-05   40.415001   41.430000   40.330002   41.355000   41.355000
 ...                ...         ...         ...         ...         ...
 2023-03-23  187.399994  190.559998  185.580002  187.440002  187.440002
 2023-03-24  186.500000  190.320007  186.089996  190.059998  190.059998
 2023-03-27  188.919998  192.110001  188.910004  191.259995  191.259995
 2023-03-28  191.179993  192.830002  191.179993  192.300003  192.300003
 2023-03-29  193.139999  197.429993  192.880005  196.639999  196.639999

              volume ticker
 2013-04-01  4823200    CRM
 2013-04-02  3875600    CRM
 2013-04-03  8306000    CRM
 2013-04-04  5673200    CRM
 2013-04-05  5285200    CRM
 ...             ...    ...
 2023-03-23  8685000    CRM
 2023-03-24  6104500    CRM
 2023-03-27  7776500    CRM
 2023-03-28  4899000    CRM
 2023-03-29  8085200    CRM

 [2518 rows x 7 columns],
 'CSCO':                  open       high        low      close   adjclose    volume  \
 2013-04-01  21.040001  21.379999  20.780001  20.830000  15.126056  40009200
 2013-04-02  20.959999  21.290001  20.900000  21.219999  15.409266  34098100
 2013-04-03  21.280001  21.370001  21.110001  21.200001  15.394741  30101400
 2013-04-04  21.010000  21.090000  20.959999  21.040001  15.402062  25075100
 2013-04-05  20.250000  20.700001  20.000000  20.610001  15.087286  54767100
 ...               ...        ...        ...        ...        ...       ...
 2023-03-23  49.560001  50.250000  49.410000  49.730000  49.359238  17775400
 2023-03-24  49.900002  50.549999  49.500000  50.509998  50.133419  19438800
 2023-03-27  50.700001  50.950001  50.480000  50.540001  50.163200  15857200
 2023-03-28  50.320000  50.599998  50.270000  50.389999  50.014317  11124300
 2023-03-29  50.730000  51.270000  50.639999  51.169998  50.788498  18463400

            ticker
 2013-04-01   CSCO
 2013-04-02   CSCO
 2013-04-03   CSCO
 2013-04-04   CSCO
 2013-04-05   CSCO
 ...           ...
 2023-03-23   CSCO
 2023-03-24   CSCO
 2023-03-27   CSCO
 2023-03-28   CSCO
 2023-03-29   CSCO

 [2518 rows x 7 columns],
 'CVX':                   open        high         low       close    adjclose  \
 2013-04-01  118.989998  119.860001  118.760002  119.610001   79.014244
 2013-04-02  119.839996  119.949997  118.660004  119.000000   78.611320
 2013-04-03  119.180000  119.250000  117.349998  117.779999   77.805374
 2013-04-04  117.930000  118.680000  117.169998  118.070000   77.996933
 2013-04-05  116.639999  117.639999  116.169998  117.519997   77.633614
 ...                ...         ...         ...         ...         ...
 2023-03-23  157.020004  158.759995  153.139999  154.520004  154.520004
 2023-03-24  152.100006  156.649994  151.830002  156.059998  156.059998
 2023-03-27  157.399994  158.479996  155.690002  157.649994  157.649994
 2023-03-28  157.279999  160.190002  156.679993  159.490005  159.490005
 2023-03-29  160.619995  161.320007  159.330002  160.860001  160.860001

              volume ticker
 2013-04-01  4322200    CVX
 2013-04-02  4813900    CVX
 2013-04-03  7175000    CVX
 2013-04-04  5409700    CVX
 2013-04-05  5029900    CVX
 ...             ...    ...
 2023-03-23  7859400    CVX
 2023-03-24  6600100    CVX
 2023-03-27  7006800    CVX
 2023-03-28  5605400    CVX
 2023-03-29  7569700    CVX

 [2518 rows x 7 columns],
 'DIS':                  open       high        low      close   adjclose   volume  \
 2013-04-01  56.889999  57.139999  56.150002  56.689999  51.536480  6722400
 2013-04-02  57.040001  57.459999  56.959999  57.459999  52.236477  6575300
 2013-04-03  57.639999  57.750000  57.000000  57.250000  52.045567  8101000
 2013-04-04  57.279999  57.720001  57.180000  57.590000  52.354652  6412400
 2013-04-05  56.889999  57.730000  56.369999  57.700001  52.454655  7034700
 ...               ...        ...        ...        ...        ...      ...
 2023-03-23  95.279999  97.019997  94.760002  95.830002  95.830002  9527000
 2023-03-24  94.809998  95.000000  93.019997  94.080002  94.080002  9534600
 2023-03-27  94.779999  96.019997  94.379997  95.620003  95.620003  7487900
 2023-03-28  95.510002  96.000000  94.589996  94.820000  94.820000  5426100
 2023-03-29  96.080002  96.910004  95.349998  96.870003  96.870003  5889100

            ticker
 2013-04-01    DIS
 2013-04-02    DIS
 2013-04-03    DIS
 2013-04-04    DIS
 2013-04-05    DIS
 ...           ...
 2023-03-23    DIS
 2023-03-24    DIS
 2023-03-27    DIS
 2023-03-28    DIS
 2023-03-29    DIS

 [2518 rows x 7 columns],
 'DOW':                  open       high        low      close   adjclose   volume  \
 2019-03-20  52.750000  53.500000  49.500000  49.799999  40.302845  2350800
 2019-03-21  49.990002  50.000000  48.200001  48.980000  39.639217  1764700
 2019-03-22  48.799999  49.950001  48.160000  48.599998  39.331696   844700
 2019-03-25  48.599998  49.400002  48.000000  49.150002  39.776806   440900
 2019-03-26  49.000000  49.750000  48.180000  48.849998  39.534019   504700
 ...               ...        ...        ...        ...        ...      ...
 2023-03-23  51.480000  52.939999  51.154999  51.650002  51.650002  4781100
 2023-03-24  50.849998  51.930000  50.450001  51.779999  51.779999  4338400
 2023-03-27  52.250000  52.700001  51.904999  52.000000  52.000000  4328000
 2023-03-28  52.169998  52.959999  52.119999  52.910000  52.910000  3083600
 2023-03-29  53.759998  53.849998  53.160000  53.599998  53.599998  3710400

            ticker
 2019-03-20    DOW
 2019-03-21    DOW
 2019-03-22    DOW
 2019-03-25    DOW
 2019-03-26    DOW
 ...           ...
 2023-03-23    DOW
 2023-03-24    DOW
 2023-03-27    DOW
 2023-03-28    DOW
 2023-03-29    DOW

 [1015 rows x 7 columns],
 'GS':                   open        high         low       close    adjclose  \
 2013-04-01  146.669998  148.059998  144.600006  146.039993  122.928604
 2013-04-02  145.270004  147.490005  144.770004  146.679993  123.467346
 2013-04-03  146.759995  146.869995  142.179993  143.410004  120.714828
 2013-04-04  143.520004  144.949997  142.240005  142.990005  120.361313
 2013-04-05  140.610001  143.800003  140.339996  143.690002  120.950554
 ...                ...         ...         ...         ...         ...
 2023-03-23  315.209991  321.359985  312.640015  314.850006  314.850006
 2023-03-24  310.149994  312.750000  305.359985  312.570007  312.570007
 2023-03-27  318.619995  320.899994  317.170013  318.529999  318.529999
 2023-03-28  319.089996  320.609985  316.119995  318.440002  318.440002
 2023-03-29  322.500000  322.709991  318.679993  320.720001  320.720001

              volume ticker
 2013-04-01  2581100     GS
 2013-04-02  3374100     GS
 2013-04-03  4373300     GS
 2013-04-04  3423800     GS
 2013-04-05  3864300     GS
 ...             ...    ...
 2023-03-23  2585900     GS
 2023-03-24  2456700     GS
 2023-03-27  2300600     GS
 2023-03-28  1224300     GS
 2023-03-29  1475900     GS

 [2518 rows x 7 columns],
 'HD':                   open        high         low       close    adjclose  \
 2013-04-01   69.510002   70.769997   69.510002   69.669998   55.604538
 2013-04-02   69.900002   71.050003   69.830002   71.019997   56.682003
 2013-04-03   70.849998   70.940002   70.019997   70.360001   56.155235
 2013-04-04   70.360001   70.800003   70.080002   70.690002   56.418625
 2013-04-05   70.000000   70.250000   69.610001   70.059998   55.915817
 ...                ...         ...         ...         ...         ...
 2023-03-23  285.260010  286.109985  280.220001  283.910004  283.910004
 2023-03-24  282.559998  284.929993  280.829987  283.019989  283.019989
 2023-03-27  283.750000  284.940002  280.910004  281.269989  281.269989
 2023-03-28  280.799988  283.290009  279.929993  280.820007  280.820007
 2023-03-29  281.250000  283.989990  281.250000  283.359985  283.359985

              volume ticker
 2013-04-01  5357700     HD
 2013-04-02  7291600     HD
 2013-04-03  7796000     HD
 2013-04-04  6613700     HD
 2013-04-05  6986100     HD
 ...             ...    ...
 2023-03-23  6005800     HD
 2023-03-24  3851000     HD
 2023-03-27  4269700     HD
 2023-03-28  3633300     HD
 2023-03-29  3607500     HD

 [2518 rows x 7 columns],
 'HON':                   open        high         low       close    adjclose  \
 2013-04-01   71.693390   71.769661   70.644684   70.863960   57.780514
 2013-04-02   71.245308   71.340645   70.539810   70.749550   57.687237
 2013-04-03   71.006966   71.092766   69.767586   69.910583   57.003159
 2013-04-04   70.082191   70.339607   69.920120   70.311005   57.329655
 2013-04-05   69.300430   69.748512   69.052551   69.576904   56.731091
 ...                ...         ...         ...         ...         ...
 2023-03-23  186.860001  189.419998  185.550003  186.919998  186.919998
 2023-03-24  186.389999  188.220001  184.600006  188.160004  188.160004
 2023-03-27  188.630005  189.589996  187.429993  187.990005  187.990005
 2023-03-28  187.750000  189.610001  187.399994  187.919998  187.919998
 2023-03-29  189.660004  189.710007  187.770004  189.070007  189.070007

              volume ticker
 2013-04-01  4144458    HON
 2013-04-02  3738215    HON
 2013-04-03  5101170    HON
 2013-04-04  4457243    HON
 2013-04-05  4543359    HON
 ...             ...    ...
 2023-03-23  2360100    HON
 2023-03-24  2332300    HON
 2023-03-27  2133100    HON
 2023-03-28  2069700    HON
 2023-03-29  2684200    HON

 [2518 rows x 7 columns],
 'IBM':                   open        high         low       close    adjclose  \
 2013-04-01  203.441681  204.110901  201.959854  203.040146  136.306839
 2013-04-02  203.556412  205.267685  202.265778  204.933075  137.577606
 2013-04-03  204.894836  205.439774  203.279160  203.307846  136.486496
 2013-04-04  203.412994  203.565964  200.803055  202.017212  135.620087
 2013-04-05  199.904404  200.611862  197.265778  200.200760  134.400589
 ...                ...         ...         ...         ...         ...
 2023-03-23  123.809998  124.930000  122.599998  123.370003  123.370003
 2023-03-24  123.360001  125.400002  122.879997  125.290001  125.290001
 2023-03-27  126.470001  130.259995  126.470001  129.309998  129.309998
 2023-03-28  129.179993  129.660004  128.800003  129.339996  129.339996
 2023-03-29  130.119995  130.350006  129.179993  129.710007  129.710007

              volume ticker
 2013-04-01  2243147    IBM
 2013-04-02  3260173    IBM
 2013-04-03  3272725    IBM
 2013-04-04  3880137    IBM
 2013-04-05  4338808    IBM
 ...             ...    ...
 2023-03-23  4651900    IBM
 2023-03-24  3812300    IBM
 2023-03-27  6524100    IBM
 2023-03-28  2888900    IBM
 2023-03-29  3279600    IBM

 [2518 rows x 7 columns],
 'INTC':                  open       high        low      close   adjclose    volume  \
 2013-04-01  21.670000  21.700001  21.320000  21.430000  15.870206  33718100
 2013-04-02  21.520000  21.580000  21.320000  21.459999  15.892424  28166700
 2013-04-03  21.450001  21.500000  21.010000  21.049999  15.588799  36620800
 2013-04-04  21.049999  21.190001  20.959999  21.139999  15.655445  28702500
 2013-04-05  20.940001  20.969999  20.750000  20.940001  15.507332  36721600
 ...               ...        ...        ...        ...        ...       ...
 2023-03-23  28.379999  29.160000  28.219999  29.030001  29.030001  43785500
 2023-03-24  29.040001  29.809999  28.930000  29.360001  29.360001  55912100
 2023-03-27  29.370001  29.730000  29.080000  29.180000  29.180000  34758200
 2023-03-28  29.080000  29.330000  28.629999  29.290001  29.290001  37407900
 2023-03-29  29.770000  31.889999  29.760000  31.520000  31.520000  85556200

            ticker
 2013-04-01   INTC
 2013-04-02   INTC
 2013-04-03   INTC
 2013-04-04   INTC
 2013-04-05   INTC
 ...           ...
 2023-03-23   INTC
 2023-03-24   INTC
 2023-03-27   INTC
 2023-03-28   INTC
 2023-03-29   INTC

 [2518 rows x 7 columns],
 'JNJ':                   open        high         low       close    adjclose  \
 2013-04-01   81.389999   81.959999   81.279999   81.930000   62.455975
 2013-04-02   82.000000   82.690002   81.900002   82.690002   63.035324
 2013-04-03   82.739998   82.949997   81.570000   82.070000   62.562706
 2013-04-04   82.199997   82.720001   81.930000   82.410004   62.821880
 2013-04-05   81.790001   82.110001   81.620003   82.040001   62.539829
 ...                ...         ...         ...         ...         ...
 2023-03-23  151.179993  151.690002  150.110001  151.130005  151.130005
 2023-03-24  151.479996  152.759995  150.830002  152.649994  152.649994
 2023-03-27  154.199997  154.539993  153.110001  153.300003  153.300003
 2023-03-28  152.389999  153.449997  151.729996  151.820007  151.820007
 2023-03-29  152.240005  153.380005  152.070007  153.309998  153.309998

               volume ticker
 2013-04-01   7376800    JNJ
 2013-04-02  10342200    JNJ
 2013-04-03  12254000    JNJ
 2013-04-04  10303000    JNJ
 2013-04-05   8581400    JNJ
 ...              ...    ...
 2023-03-23   9051500    JNJ
 2023-03-24   5696200    JNJ
 2023-03-27   6772300    JNJ
 2023-03-28   6115300    JNJ
 2023-03-29   6012000    JNJ

 [2518 rows x 7 columns],
 'JPM':                   open        high         low       close    adjclose  \
 2013-04-01   47.549999   47.990002   47.490002   47.830002   35.939854
 2013-04-02   48.009998   48.380001   47.880001   48.279999   36.277977
 2013-04-03   48.029999   48.070000   46.529999   46.849998   35.423580
 2013-04-04   46.959999   47.540001   46.900002   47.490002   35.907501

In [10]:
#transform disctonary to pandas.dataframe
combined_stats = pd.concat(dow_historical)
combined_stats = combined_stats.reset_index()
combined_stats
combined_stats.rename(columns = {'level_0':'company', 'level_1':'date'}, inplace = True)
combined_stats

,company,date,open,high,low,close,adjclose,volume,ticker
0,AAPL,2013-04-01,15.782143,15.846429,15.276429,15.318214,13.230055,389732000,AAPL
1,AAPL,2013-04-02,15.271429,15.647857,15.228571,15.349643,13.257195,529519200,AAPL
2,AAPL,2013-04-03,15.406071,15.617143,15.368214,15.428214,13.325053,363216000,AAPL
3,AAPL,2013-04-04,15.491429,15.535714,15.187500,15.275714,13.193346,358447600,AAPL
4,AAPL,2013-04-05,15.160714,15.176786,14.988571,15.114286,13.053923,383695200,AAPL
...,...,...,...,...,...,...,...,...,...
74032,WMT,2023-03-23,140.199997,141.610001,139.490005,140.649994,140.649994,7348100,WMT
74033,WMT,2023-03-24,141.009995,142.470001,140.600006,141.800003,141.800003,7584100,WMT
74034,WMT,2023-03-27,142.789993,144.979996,142.779999,144.169998,144.169998,8925200,WMT
74035,WMT,2023-03-28,143.649994,144.410004,143.050003,143.610001,143.610001,7094300,WMT
74036,WMT,2023-03-29,144.369995,144.960007,143.449997,144.229996,144.229996,8072300,WMT

In [11]:
#drop unnecessary column
dw_jones_30_10years = combined_stats.drop(['company'], axis=1)
dw_jones_30_10years

,date,open,high,low,close,adjclose,volume,ticker
0,2013-04-01,15.782143,15.846429,15.276429,15.318214,13.230055,389732000,AAPL
1,2013-04-02,15.271429,15.647857,15.228571,15.349643,13.257195,529519200,AAPL
2,2013-04-03,15.406071,15.617143,15.368214,15.428214,13.325053,363216000,AAPL
3,2013-04-04,15.491429,15.535714,15.187500,15.275714,13.193346,358447600,AAPL
4,2013-04-05,15.160714,15.176786,14.988571,15.114286,13.053923,383695200,AAPL
...,...,...,...,...,...,...,...,...
74032,2023-03-23,140.199997,141.610001,139.490005,140.649994,140.649994,7348100,WMT
74033,2023-03-24,141.009995,142.470001,140.600006,141.800003,141.800003,7584100,WMT
74034,2023-03-27,142.789993,144.979996,142.779999,144.169998,144.169998,8925200,WMT
74035,2023-03-28,143.649994,144.410004,143.050003,143.610001,143.610001,7094300,WMT
74036,2023-03-29,144.369995,144.960007,143.449997,144.229996,144.229996,8072300,WMT

In [127]:
#create unique id for each row
df['id'] = range(len(df))
dw_jones_30_10years ['id'] = range(len(dw_jones_30_10years))
dw_jones_30_10years

,date,open,high,low,close,adjclose,volume,ticker,id
0,2013-04-01,15.782143,15.846429,15.276429,15.318214,13.230053,389732000,AAPL,0
1,2013-04-02,15.271429,15.647857,15.228571,15.349643,13.257196,529519200,AAPL,1
2,2013-04-03,15.406071,15.617143,15.368214,15.428214,13.325056,363216000,AAPL,2
3,2013-04-04,15.491429,15.535714,15.187500,15.275714,13.193348,358447600,AAPL,3
4,2013-04-05,15.160714,15.176786,14.988571,15.114286,13.053924,383695200,AAPL,4
...,...,...,...,...,...,...,...,...,...
74032,2023-03-23,140.199997,141.610001,139.490005,140.649994,140.649994,7348100,WMT,74032
74033,2023-03-24,141.009995,142.470001,140.600006,141.800003,141.800003,7584100,WMT,74033
74034,2023-03-27,142.789993,144.979996,142.779999,144.169998,144.169998,8925200,WMT,74034
74035,2023-03-28,143.649994,144.410004,143.050003,143.610001,143.610001,7094300,WMT,74035
74036,2023-03-29,144.369995,144.960007,143.449997,144.229996,144.229996,8072300,WMT,74036

In [128]:
#Export dataframe as CSV file
dw_jones_30_10years.to_csv('dawjones_tenyears1.csv', index=False)

In [129]:
#convert CSV to JSON format
import csv
import json
 
 

def make_json(csvFilePath, jsonFilePath):
     
  
    data = {}
     
    
    with open(csvFilePath, encoding='utf-8') as csvf:
        csvReader = csv.DictReader(csvf)
         
        
        for rows in csvReader:
             
            
            key = rows['id']
            data[key] = rows
 
   
    with open(jsonFilePath, 'w', encoding='utf-8') as jsonf:
        jsonf.write(json.dumps(data, indent=4))
         

csvFilePath = r'dawjones_tenyears1.csv'
jsonFilePath = r'dawjones_tenyears2.json'
 

make_json(csvFilePath, jsonFilePath)